$font-default: Arial, sans-serif;
$font-family-base: $font-default;
$body-bg: #ccc;

/**
 * FONTS-SIZE
 */
$font-size-base: 15px;

$link-font-size: 15px;

$h1-font-size: 42px;
$h1-font-size-xs: 33px;

$h2-font-size: 33px;
$h2-font-size-xs: 25px;

$h3-font-size: 21px;
$h3-font-size-xs: 19px;